page-home {

  .alert-danger {
     .alert-head {
       color: map-get($colors, dark);
     }
   }

   @keyframes dim {
    0%   {color:color($colors, primary);}
    100% {color:color($colors, dark); }
}

ion-loading.iontrans {
  .loading-wrapper {
    background-color:#000000;
    box-shadow: none;
  }
<<<<<<< HEAD
=======
  .im {
      position: absolute;
      align:center;
      background-color: #f00000;
      -webkit-animation:spin 4s linear infinite;
      -moz-animation:spin 4s linear infinite;
      animation:spin 4s linear infinite;
  }
>>>>>>> f384a0566b1cdc2b97f01b75eae2c5cb98895814

}

loading-content {background-color: #000000;}

.loading-wrapper{background-color: #000000;}

.im {
    position: absolute;
    align:center;
    background-color: #f00000;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
<<<<<<< HEAD

=======
>>>>>>> f384a0566b1cdc2b97f01b75eae2c5cb98895814

/* The element to apply the animation to */
  .run-animation {
      color: color($colors, dark);
      background: color($colors, dark);
      animation-name: dim;
      animation-duration: 15s;
    // animation-iteration-count: 10;
  }




}
