<ion-header >
  <ion-navbar color=dark>
    <ion-title>UniPark
      <ion-icon id="locationindicator" [color]="dark" name="radio-button-on" style="margin-left:5%;" ></ion-icon>
      <ion-icon name="bulb" [color]="this.parkFlag ? 'primary' : 'dark' " style="margin-left:5%;"></ion-icon>
    </ion-title>
    <button ion-button end menuToggle><ion-icon name="menu"></ion-icon></button>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-menu side="left" persistent="true" [content]="mycontent">
  <ion-content>
    <ion-list>
      <ion-item>test 1</ion-item>
      <ion-item>test 2</ion-item>
      <ion-item>test 3</ion-item>
    </ion-list>
  </ion-content>
  </ion-menu>

  <ion-nav #mycontent [root]="rootPage"></ion-nav>


		<div #map id="map" style="height:100%">

      <ion-fab right style="margin-top:5px">
        <button *ngIf="!parkFlag" tappable ion-fab color="dark" (tap)="iParkedHere();"><ion-icon name="ios-log-in-outline"></ion-icon></button>
        <button *ngIf="parkFlag" tappable ion-fab color="dark" (tap)="UnParked();"><ion-icon name="md-log-out"></ion-icon></button>
      </ion-fab>


      <ion-fab right style="margin-top:69px">
          <button ion-fab small color="dark"><ion-icon name="search" class="im"></ion-icon></button>
          <ion-fab-list side="left">
            <button *ngIf="parkFlag" tappable ion-fab small right (tap)="search(0);" color="dark"><ion-icon name="man" ></ion-icon></button>
          </ion-fab-list>
          <ion-fab-list side="bottom">
            <button tappable ion-fab small right (tap)="search(1);" color="dark"><ion-icon name="car"></ion-icon></button>
          </ion-fab-list>
      </ion-fab>



    </div>

</ion-content>
